html {
    background-color: #eee;
}
body {
    margin: 0 auto;
    max-width: 50em;
    padding: 1em;
}
h1, h2, h3, h4, h5, h6 {
    color: #111;
}

/* Glue code block to its legend */
.code-legend {
    margin-bottom: 0;
}
div.sourceCode {
    margin-top: 0;
}
